openapi: 3.0.1
info:
  contact:
    name: Turbot Support
    url: https://turbot.com/pipes
  description: Turbot Pipes is an intelligence, automation & security platform built
    specifically for DevOps.
  title: Turbot Pipes
  version: '{{OPEN_API_VERSION}}'
servers:
- description: Pipes API base URL
  url: https://pipes.turbot.com/api/v0
paths:
  /actor:
    get:
      description: Returns the actor information.
      operationId: actor_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Actor information
      tags:
      - Actors
  /actor/activity:
    get:
      description: List the activity for an actor.
      operationId: actor_listActivity
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor activity
      tags:
      - Actors
  /actor/conn:
    get:
      description: List the connections for an actor.
      operationId: actor_listConnections
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor connections
      tags:
      - Actors
  /actor/org:
    get:
      description: List the orgs and org workspaces for an actor, along with role
        within each.
      operationId: actor_listOrgs
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserOrgsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor orgs
      tags:
      - Actors
  /actor/org/invite:
    get:
      description: List the orgs to which the actor has been invited.
      operationId: actor_listOrgInvites
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserOrgsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List org invites for actor
      tags:
      - Actors
  /actor/workspace:
    get:
      description: List the workspaces for an actor.
      operationId: actor_listWorkspaces
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListActorWorkspacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor workspaces
      tags:
      - Actors
  /audit_log:
    get:
      description: Returns the audit logs for a custom tenant.
      operationId: tenant_listAuditLogs
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Tenant audit logs
      tags:
      - Tenants
  /auth/{provider}:
    get:
      description: With an authentication provider, users can access Turbot Pipes
        with single sign-on (SSO) using credentials from a third party. Turbot Pipes
        currently supports GitHub and Google as an authentication provider.
      operationId: auth_provider
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
          description: Temporary Redirect
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Auth Provider
      tags:
      - Auth
  /auth/{provider}/callback:
    get:
      description: Auth provider callback.
      operationId: auth_providerCallback
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
          description: Temporary Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Auth provider callback
      tags:
      - Auth
    post:
      description: Auth provider callback.
      operationId: auth_postProviderCallback
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
          description: Temporary Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Post auth provider callback
      tags:
      - Auth
  /connection:
    get:
      description: List connections for a tenant.
      operationId: tenantConnection_list
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant connections
      tags:
      - TenantConnections
    post:
      description: Creates a new connection for a custom tenant.
      operationId: tenantConnection_create
      parameters:
      - description: The mode of this request
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - available
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionRequest'
        description: The request body for the connection to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create tenant connection
      tags:
      - TenantConnections
      x-codegen-request-body-name: request
  /connection/{connection_handle}:
    delete:
      description: Deletes a connection defined at the tenant level.
      operationId: tenantConnection_delete
      parameters:
      - description: The handle of the connection that needs to be deleted.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete tenant connection
      tags:
      - TenantConnections
    get:
      description: Get connection for a tenant.
      operationId: tenantConnection_get
      parameters:
      - description: The handle of the connection to retrieve.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get tenant connection
      tags:
      - TenantConnections
    patch:
      description: Update the details of a connection belonging to a tenant.
      operationId: tenantConnection_update
      parameters:
      - description: The handle of the connection which needs to be updated.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The mode of this request
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - available
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectionRequest'
        description: The request body for the connection which needs to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update tenant connection
      tags:
      - TenantConnections
      x-codegen-request-body-name: request
  /connection/{connection_handle}/permission:
    get:
      description: List permissions for a connection defined on a custom tenant.
      operationId: tenantConnection_listPermission
      parameters:
      - description: The handle of the connection for which we want to list permissions.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant connection permissions
      tags:
      - TenantConnections
    post:
      description: Create permissions for a tenant connection.
      operationId: tenantConnection_createPermission
      parameters:
      - description: The handle of the connection for which we want to list permissions.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePermissionRequest'
        description: The request body for the connection permission to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create tenant connection permission
      tags:
      - TenantConnections
      x-codegen-request-body-name: request
  /connection/{connection_handle}/permission/{permission_id}:
    delete:
      description: Delete permission for a connection defined on a custom tenant.
      operationId: tenantConnection_deletePermission
      parameters:
      - description: The handle of the connection for which we want to delete permission
          for.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The id of the permission which we want to delete.
        explode: false
        in: path
        name: permission_id
        required: true
        schema:
          format: ^perm[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete tenant connection permission
      tags:
      - TenantConnections
    get:
      description: Get permission for a connection defined on a custom tenant.
      operationId: tenantConnection_getPermission
      parameters:
      - description: The handle of the connection for which we want to get permission
          for.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The id of the permission which we want to retrieve.
        explode: false
        in: path
        name: permission_id
        required: true
        schema:
          format: ^perm[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get tenant connection permission
      tags:
      - TenantConnections
    patch:
      description: Update permission for a connection defined on a custom tenant.
      operationId: tenantConnection_updatePermission
      parameters:
      - description: The handle of the connection for which we want to update permission
          for.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The id of the permission which we want to update.
        explode: false
        in: path
        name: permission_id
        required: true
        schema:
          format: ^perm[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionRequest'
        description: The request body for the connection permission to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update tenant connection permission
      tags:
      - TenantConnections
      x-codegen-request-body-name: request
  /connection/{connection_handle}/test:
    post:
      description: Test the config for a tenant connection to check for basic connectivity.
      operationId: tenantConnection_test
      parameters:
      - description: The handle of the connection to be tested. For connections that
          are not yet created, use underscore `_` as the handle, else pass the handle
          of the existing connection.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestConnectionRequest'
        description: The request body for the connection to be tested.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Test tenant connection
      tags:
      - TenantConnections
      x-codegen-request-body-name: request
  /connection/{connection_handle}/workspace:
    get:
      description: List the workspaces that a tenant connection has been added to.
      operationId: tenantConnection_listWorkspaces
      parameters:
      - description: The handle of the connection for which we want to list workspaces.
        explode: false
        in: path
        name: connection_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceConnectionAssociationsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant connection workspaces
      tags:
      - TenantConnections
  /connection_folder:
    get:
      description: List connection folders for a custom tenant.
      operationId: tenantConnectionFolder_list
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant connection folders
      tags:
      - TenantConnectionFolders
    post:
      description: Creates a new connection folder for a custom tenant.
      operationId: tenantConnectionFolder_create
      parameters:
      - description: The mode of this request
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - available
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionFolderRequest'
        description: The request body for the connection to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create tenant connection folder
      tags:
      - TenantConnectionFolders
      x-codegen-request-body-name: request
  /connection_folder/{folder_id}:
    delete:
      description: Deletes a connection folder defined at the tenant level.
      operationId: tenantConnectionFolder_delete
      parameters:
      - description: The ID of the connection folder that needs to be deleted.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete tenant connection folder
      tags:
      - TenantConnectionFolders
    get:
      description: Get connection folder for a custom tenant.
      operationId: tenantConnectionFolder_get
      parameters:
      - description: The ID of the connection folder to retrieve.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get tenant connection folder
      tags:
      - TenantConnectionFolders
    patch:
      description: Update the details of a connection folder belonging to a custom
        tenant.
      operationId: tenantConnectionFolder_update
      parameters:
      - description: The handle of the connection folder which needs to be updated.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The mode of this request
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - available
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectionFolderRequest'
        description: The request body for the connection which needs to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update tenant connection folder
      tags:
      - TenantConnectionFolders
      x-codegen-request-body-name: request
  /connection_folder/{folder_id}/permission:
    get:
      description: List permissions for a connection folder defined on a custom tenant.
      operationId: tenantConnectionFolder_listPermission
      parameters:
      - description: The ID of the connection folder for which we want to list permissions.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant connection folder permissions
      tags:
      - TenantConnectionFolders
    post:
      description: Create permissions for a connection folder defined on a custom
        tenant.
      operationId: tenantConnectionFolder_createPermission
      parameters:
      - description: The ID of the connection folder for which we want to list permissions.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePermissionRequest'
        description: The request body for the connection folder permission to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create tenant connection folder permission
      tags:
      - TenantConnectionFolders
      x-codegen-request-body-name: request
  /connection_folder/{folder_id}/permission/{permission_id}:
    delete:
      description: Delete permission for a connection folder defined on a custom tenant.
      operationId: tenantConnectionFolder_deletePermission
      parameters:
      - description: The ID of the connection folder for which we want to delete permission.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The id of the permission which we want to delete.
        explode: false
        in: path
        name: permission_id
        required: true
        schema:
          format: ^perm[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete tenant connection folder permission
      tags:
      - TenantConnectionFolders
    get:
      description: Get permission for a connection folder defined on a custom tenant.
      operationId: tenantConnectionFolder_getPermission
      parameters:
      - description: The id of the folder which we want to get permission for.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The id of the permission which we want to retrieve.
        explode: false
        in: path
        name: permission_id
        required: true
        schema:
          format: ^perm[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get tenant connection folder permission
      tags:
      - TenantConnectionFolders
    patch:
      description: Update permission for a connection folder defined on a custom tenant.
      operationId: tenantConnectionFolder_updatePermission
      parameters:
      - description: The ID of the connection folder for which we want to update the
          permissions.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The id of the permission which we want to update.
        explode: false
        in: path
        name: permission_id
        required: true
        schema:
          format: ^perm[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionRequest'
        description: The request body for the connection permission to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update tenant connection folder permission
      tags:
      - TenantConnectionFolders
      x-codegen-request-body-name: request
  /connection_folder/{folder_id}/workspace:
    get:
      description: List the workspaces that a tenant connection folder has been added
        to.
      operationId: tenantConnectionFolder_listWorkspaces
      parameters:
      - description: The ID of the connection folder for which we want to list workspaces.
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          format: ^c[a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceConnectionAssociationsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant connection folder workspaces
      tags:
      - TenantConnectionFolders
  /connection_tree:
    get:
      description: List connection tree for a tenant.
      operationId: tenantConnectionTree_list
      parameters:
      - description: The prefix to be used when listing items in a connection tree
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          type: string
        style: form
      - description: The SQL where filter you wish to apply to this request. The filter
          will be parsed and sanitised and checked against the supported columns for
          this API.
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant connection tree
      tags:
      - TenantConnectionTree
  /identity:
    get:
      description: List identities with their public information.
      operationId: identity_list
      parameters:
      - description: Optional free-text search to filter the identities.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdentitiesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List identities
      tags:
      - Identities
  /identity/{identity_handle}:
    get:
      description: Get public information for an identity.
      operationId: identity_get
      parameters:
      - description: Specify the handle of the identity whose information you want
          to retrieve.
        explode: false
        in: path
        name: identity_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get identity
      tags:
      - Identities
  /identity/{identity_handle}/avatar:
    get:
      description: Get public avatar for an identity.
      operationId: identity_getAvatar
      parameters:
      - description: Specify the handle of the identity whose avatar you want to retrieve.
        explode: false
        in: path
        name: identity_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WorkspaceSnapshotData'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get identity avatar
      tags:
      - Identities
  /integration:
    get:
      description: List integrations configured on a custom tenant.
      operationId: tenantIntegration_list
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant integrations
      tags:
      - TenantIntegrations
    post:
      description: Creates a new integration on a custom tenant.
      operationId: tenantIntegration_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
        description: The request body for the integration to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create tenant integration
      tags:
      - TenantIntegrations
      x-codegen-request-body-name: request
  /integration/{integration_handle}:
    delete:
      description: Delete an integration configured on a custom tenant.
      operationId: tenantIntegration_delete
      parameters:
      - description: The handle of the integration which needs to be deleted.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete tenant integration
      tags:
      - TenantIntegrations
    get:
      description: Get details of an integration configured on a custom tenant.
      operationId: tenantIntegration_get
      parameters:
      - description: The handle of the integration whose details need to be retrieved.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get tenant integration
      tags:
      - TenantIntegrations
    patch:
      description: Update details of an integration configured on a custom tenant.
      operationId: tenantIntegration_update
      parameters:
      - description: The handle of the integration whose details need to be updated.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRequest'
        description: The request body for the integration update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update tenant integration
      tags:
      - TenantIntegrations
      x-codegen-request-body-name: request
  /integration/{integration_handle}/command:
    post:
      description: Run a command for a tenant integration
      operationId: tenantIntegration_command
      parameters:
      - description: The handle of the integration for which we want to run the command.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCommandRequest'
        description: The request body for the workspace command.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationCommandRequest'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Run tenant integration command
      tags:
      - TenantIntegrations
      x-codegen-request-body-name: request
  /integration/{integration_handle}/github/install:
    get:
      description: Install a GitHub integration on a custom tenant.
      operationId: tenantIntegration_installGithubIntegration
      parameters:
      - description: The handle of the GitHub integration which needs to be installed.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "307":
          content:
            application/json:
              schema:
                type: string
          description: Temporary Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Install GitHub integration on a custom tenant
      tags:
      - TenantIntegrations
  /integration/{integration_handle}/slack/channel:
    get:
      description: List Slack channels that are given access to a tenant Slack integration.
      operationId: tenantIntegration_listSlackChannels
      parameters:
      - description: The handle of the integration for which Slack channels will be
          listed.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSlackChannelsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List tenant integration Slack channels
      tags:
      - TenantIntegrations
  /integration/{integration_handle}/slack/install:
    get:
      description: Install a Slack integration on a custom tenant.
      operationId: tenantIntegration_installSlackIntegration
      parameters:
      - description: The handle of the Slack integration which needs to be installed.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "307":
          content:
            application/json:
              schema:
                type: string
          description: Temporary Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Install Slack integration on a custom tenant
      tags:
      - TenantIntegrations
  /integration/{integration_handle}/test:
    post:
      description: Test the config for a custom tenant integration to check for basic
        connectivity before you create it.
      operationId: tenantIntegration_test
      parameters:
      - description: The handle of the integration to be tested. For integrations
          that are not yet created, use underscore `_` as the handle, else pass the
          handle of the existing integration.
        explode: false
        in: path
        name: integration_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Test custom tenant integration
      tags:
      - TenantIntegrations
  /login:
    post:
      description: User login.
      operationId: auth_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
        description: The request body to login.
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: User login
      tags:
      - Auth
      x-codegen-request-body-name: request
  /login/confirm:
    get:
      description: Confirm user login.
      operationId: auth_confirmLogin
      parameters:
      - description: Specify the token.
        explode: true
        in: query
        name: t
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Confirm user login
      tags:
      - Auth
  /login/token:
    post:
      description: Generate a temporary token request for CLI login.
      operationId: auth_loginToken_create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryTokenRequest'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Generate temporary token request
      tags:
      - Auth
  /login/token/{temporary_token_request_id}:
    delete:
      description: Delete a temporary token request status.
      operationId: auth_loginToken_delete
      parameters:
      - description: The ID of the temporary token request to delete.
        explode: false
        in: path
        name: temporary_token_request_id
        required: true
        schema:
          format: ^spttr_[0-9a-v]{20}_[0-9a-z]{26}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryTokenRequest'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete temporary token request
      tags:
      - Auth
    get:
      description: Get a temporary token request status with token.
      operationId: auth_loginToken_get
      parameters:
      - description: The ID of the temporary token request to get.
        explode: false
        in: path
        name: temporary_token_request_id
        required: true
        schema:
          format: ^spttr_[0-9a-v]{20}_[0-9a-z]{26}$
          type: string
        style: simple
      - description: The challenge code to request the temporary token. Will only
          be obtained after confirming the login request in the Turbot Pipes UI.
        explode: true
        in: query
        name: code
        required: false
        schema:
          format: ^[0-9]{6}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
[...]
